@model DiaryNoteDetailVM

<div class="row justify-content-center" >
    <div class="col-md-10" style="border:groove;border-color:darksalmon;height: 80vh;">
        <h3 class="text-center">@Model.Title</h3>
        <h6 class="text-center">@Html.Raw(Model.Body)</h6>
    </div>
</div>
