@model List<DiaryWithNoteVM>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var diaryId = ViewBag.Id;
}


<style>
    .fixed-button {
        position: fixed;
        margin-top: 5px; /* Adjust as needed */
        rgiht: 20px; /* Adjust as needed */
        z-index: 999; /* Ensure it's above other content */
    }
</style>


<a  class="btn btn-success fixed-button" href="/diarynote/create/@diaryId" style="margin-bottom:5px">New Diary-Note</a>
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="" class="img-fluid" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a style="text-decoration: none;" href="/diaryNote/details/@item.DiaryNoteId">
                                @item?.Title
                            </a>
                        </h5>
                    <p class="card-text">@Html.Raw(item?.Body)y</p>
                        <p class="card-text">@item?.CreatedDate</p>
                        <p class="card-text">@item?.DiaryNoteId</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">

                <button type="button" class="btn btn-primary" style="margin-right:5px">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    }



